.hero-main{
   
    height: 240px;
    
}

.hero-wrapper{
  
    height: 100%;
    background-image: url(../../images/hero-background.jpg);
   background-size: cover;
   background-position: center center;
  background-repeat: no-repeat;
}

.hero-contents{
    margin: 0 auto;
    height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    padding: 10px;
    /* background-color:rgb(246, 201, 14,0.4) */
    background-color: rgb(0, 0, 0,0.5);
 
    
}

.hero-heading{
   color: #F0A500;
   font-size: 1.82rem;
   text-transform: uppercase;
   text-align: center;
}

.hero-p{
    color:#F0A500;
    font-size: .9em;
   text-align: center;

}


@media screen and (min-width:600px) {
    .hero-main{
        height: 500px;
    }
    .hero-heading{
        font-size: 2.5em;
        font-weight: 900;
    
    }
    .hero-p{
        font-size: 1.5em;
        font-weight: 400;
    }
}

@media screen and (min-width:1000px) {
    .hero-heading{
        font-size: 3.5em;
        font-weight: 900;
    
    }
    .hero-p{
        font-size: 1.5em;
        font-weight: 400;
    }
}